.background {
  background-color: black;

}

.navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
      }

.bg-banner {
  height : 85vh;
  background-image: url(../images/fond-background.jpg);
  background-size: auto;
}

.text-zone {
  height: 20vh;
}
.background-white {
  background-color: white;
}

.images {
  height : 50%;
}

.button-color {
  background-color: #717389;
}

.button-color2 {
  background-color: #1E8EDB;
}

.bordercolor1{
  color:#1E8EDB;
}

.pricetypo {
  font-size: 24px;
  font-weight: bold;
  border: 1px black solid;
  margin: 10px;
}

.underlinetext {
  text-decoration: underline;
}
